/* http://www.juanjos.tk/screenslider/ screenslider created by juanjo */
.screenslider img{
  position: absolute;
  left: 0;
}
.screenslider{
  display: none;
  position:fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #777;
  overflow: hidden;
  top: 0;
}
.content-wrapper{
  position: relative;
  z-index: 1;
  height: 100%;
}